

/*-------------------------------------------------------------------------*/
/*	12.	Custom Styles Section 127
/*-------------------------------------------------------------------------*/

.case-study-row div, .crew-row div{
	margin-bottom:0 !important;
}
.crew-row{
	height:16.66vw;
}
.case-study{
	background-size:cover;
	background-position:center;
	margin-top:0;
	margin-bottom:0 !important;
}
.crew-member{
	background-size:cover;
	background-position:center;
	margin-top:0;
	margin-bottom:0 !important;

}
.crew-member div.page-hover{
	height:16.66vw;
}
.case-study, .page-hover{
	height: 24vw;
}
.case-study.crew-member{
	height:16.66vw;
}
.case-study-long, .case-study-long div.page-hover{
	height:48vw;
}
/*Fix for side padding on smaller screens*/
/*.vc_col-sm-2.vc_col-xs-6.wpb_column.column_container.col.no-extra-padding {*/
	/*margin-left: 0;*/
/*}*/
.wpb_column.column_container.col.no-extra-padding {
	margin-left: 0;
}
/* Bug fix for firefox font issues */

header#top nav > ul > li > a {
	font-weight: 300;
}
.full-width-content {
	width: 100vw !important;
}

.portfolio-wrap {
	width: 100vw !important;
}

.portfolio-items {
	width: 100vw !important;
}

/* Mobile Menu adjustment for smaller screens */
@media only screen and (max-width: 1000px) and (min-width: 1px){
	#slide-out-widget-area.overflow-state {
		padding-top: 50px!important;
	}

	#slide-out-widget-area.fullscreen .inner .widget.widget_nav_menu li a, #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a {
		font-size: 35px;
		line-height: 35px;
	}

}

.case-study:hover .case-study-icon-hover{
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	opacity:1;
}
.page-hover, .case-bg{
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}

/* Remove hover on crew page for mobile */
@media only screen and (min-width: 1px) and (max-width: 1000px) {
	.page-hover {
		opacity: 1 !important;
		background-color: transparent !important;
	}
	.crew-member.case-study{
		height:50vw;
	}
	.case-study-long, .case-study-long div.page-hover{
		height:50vw;
	}
	.crew-member div.page-hover{
		height:50vw;
	}
	.case-study{
		height:75vw;
	}
}
.case-bg{
	background-size:cover;
	background-position:center;

}

/* Footer Recent Work Border Fix */
#footer-outer .recent_projects_widget img{
	background-color: #000;
	border-color: #222;
}

/* Fix for crew row side border */

.crew-row{
	width: 100vw !important;
}
.case-study:hover .case-bg{
	trasnsition: filter 0.5s ease-in-out;
	-webkit-transition: -webkit-filter 0.5s ease-in-out;
	-webkit-filter:grayscale(100%);
	filter: grayscale(100%);
}
.case-study:hover .case-study-icon-hover{
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	opacity:1;
}

.page-hover, .work-info-bg{
	background-color: rgba(0,174,239,0.6);
	opacity:0;
	transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;

}
.work-item .style-2:hover .style-2 img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.case-study:hover .page-hover, .work-item:hover .work-info{
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	opacity:1;

}
.hover-animation{
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	opacity:1;
}
.hover-animation-out{
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	opacity:0;
}
.grayscale img.wp-post-image{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);

}
.undo-grayscale img.wp-post-image{
	filter: none;
	-webkit-filter: none;
}
.crew-title{
	color:white;
	display:block;
	opacity:0;
}
img.case-study-icon-hover{
	/*transition: opacity 0.5s ease-out;*/
	/*-moz-transition: opacity 0.5s ease-out;*/
	/*-webkit-transition: opacity 0.5s ease-out;*/
	/*-o-transition: opacity 0.5s ease-out;*/
	/*opacity:1;*/
	/*height: 250px !important;*/
	padding-top: 75px !important;
	display: block;
	margin:0 auto;
}

.case-study-long img.case-study-icon-hover{
	padding-top:240px !important;
	height: 380px !important;
}

@media only screen and (min-width: 1px) and (max-width: 1000px) {
    .case-study-long img.case-study-icon-hover{
        padding-top:75px !important;
        height: auto !important;
    }

}
.crew-title{
	color:white;
	display:block;
	opacity:1;
	text-transform: uppercase;
	position:absolute;
	bottom:5%;
	left:12%;
	right:12%;
}
.crew-title h3{
	font-weight:500;
	font-size:30px;
	margin-bottom:0 !important;
}
.crew-title h6{
	font-weight:300;
	font-size:12px;
	margin-top:-6px;
}
.homepage-row{
	padding-left:5%;
	padding-right:5%;
}

#your-name input, #your-email input {
	border: 2px #00aeef solid;
	box-shadow:none;
	background: #fff;
	font-size:20px;
}
#your-name, #your-email {
	margin-top:20px;
}
#your-name input {
	border-left: none;
}
#your-email input {
	border-right: none;

}
#your-name span:before{

	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: -28px;
	z-index: -1;

	background: #fff;
	border-left: 2px solid #00aeef;
	border-bottom: 2px solid #00aeef;
	transform-origin: bottom left;
	-ms-transform: skew(-30deg, 0deg);
	-webkit-transform: skew(-30deg, 0deg);
	transform: skew(-30deg, 0deg);
}

#your-email span:after{
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	background: #fff;
	border-right: 2px solid #00aeef;
	border-top: 2px solid #00aeef;
	transform-origin: bottom left;
	-ms-transform: skew(-30deg, 0deg);
	-webkit-transform: skew(-30deg, 0deg);
	transform: skew(-30deg, 0deg);

}
#your-submit input{
	background:#00aeef;
	height:45px;
	width:100%;
	font-size:24px;
	font-family: "Section 127";
	font-weight: 600;
	text-align: left;
	padding-left: 14px;
	text-transform: uppercase;
}
#your-submit span:after{
	content: " ";
	position: absolute;
	display: block;
	width: 90%;
	height: 45px;
	top: 0;
	right: 14px;
	z-index: -1;

	background: #00aeef;
	border-right: 2px solid #00aeef;
	border-top: 2px solid #00aeef;
	transform-origin: bottom left;
	-ms-transform: skew(-30deg, 0deg);
	-webkit-transform: skew(-30deg, 0deg);
	transform: skew(-30deg, 0deg);
}
img.portfolio-hover-img{
	height: auto !important;
}
div.vert-center p{
	display: none;
}

.delay-hover{
	transition: opacity 0.5s ease-in !important;
	-moz-transition: opacity 0.5s ease-in !important;
	-webkit-transition: opacity 0.5s ease-in !important;
	-o-transition: opacity 0.5s ease-in !important;
	opacity:0.6 !important;
}
ul.sf-menu li a{
	text-transform: uppercase;
	color: #fff;
	font-weight:bold;
	padding-bottom: 18px !important;
	padding-top: 0px !important;
	height: 14px !important;
	border-left: solid 1px #00aeef;
	margin-top: 6px !important;
}
ul.sf-menu li:first-child a{
	border: none;

}
ul.sf-menu li{
	padding-bottom:15px;
}
a{
	text-decoration:none !important;
}
.weight100{font-weight:100;}
.weight200{font-weight:200;}
.weight300{font-weight:300;}
.weight400{font-weight:400;}
.weight500{font-weight:500;}
.weight600{font-weight:600;}
.weight700{font-weight:700;}
.weight800{font-weight:800;}
.weight900{font-weight:900;}
.weightBold{font-weight:bold;}
.weightBolder{font-weight:bolder;}
#top-row, #top-row-2{
	/*background-color: rgba( 0, 174, 239, 0.6);*/
	background-color: #00aeef;
}

.mobile-custom-header-hider {
	
	display: none;
	
}

.mobile-text-header {
	
	color: #fff;
	
	font-size: 50px;
	
	line-height: 65px;
	
	font-weight: bold;
	
	text-transform: uppercase;
	
}

.page-id-6247 #page-header-wrap, .page-id-6165 #page-header-wrap, .page-id-5288 #page-header-wrap, .page-id-5990 #page-header-wrap {
	
	margin-top: 0px!important;
	
}

.page-id-6247 #page-header-bg, .page-id-6165 #page-header-bg, .page-id-5288 #page-header-bg, .page-id-5990 #page-header-bg {
	
	top: 83px!important;
	
}

.page-id-6247 .portfolio-filters-inline.nder-page-header.first-section, .page-id-6165 .portfolio-filters-inline.nder-page-header.first-section, .page-id-5288 .portfolio-filters-inline.nder-page-header.first-section, .page-id-5990 .portfolio-filters-inline.nder-page-header.first-section {
	
	margin-top: 0px!important;
	
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

#slide-out-widget-area-bg {
	
	opacity: .8!important;
	
}

.page-id-16 .full-width-section > .col.span_12.light, .full-width-content > .col.span_12.light {
    background: #000;
}

@media only screen and (max-width: 1000px) and (min-width: 690px) {
.page-id-16 .vc_row-fluid .wpb_column, .page-id-16 .vc_row-fluid .vc_col-sm-2[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-3[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-4[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-6[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-8[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-9[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-10[class*="vc_col-sm-"], .page-id-16 .vc_row-fluid .vc_col-sm-11[class*="vc_col-sm-"] {
    width: 50%!important;
}
}

@media only screen and (max-width: 1000px) and (min-width: 690px) {
.page-id-6165 .vc_row-fluid .wpb_column, .page-id-6165 .vc_row-fluid .vc_col-sm-2[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-3[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-4[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-6[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-8[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-9[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-10[class*="vc_col-sm-"], .page-id-6165 .vc_row-fluid .vc_col-sm-11[class*="vc_col-sm-"] {
    width: 50%!important;
}
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
	
	.mobile-custom-header-hider {
	
		display: block;
		
		padding-top: 100px!important;
		
		padding-bottom: 100px!important;
		
	}
	
	.page-id-2 #page-header-wrap {
		
		display: none;
		
	}
	
}